---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SectionAbout from '../components/SectionAbout.astro';
import SectionIdea from '../components/SectionIdea.astro';
import SectionContact from '../components/SectionContact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="ethib">
	<main>
		<Header />
		<SectionAbout />
		<SectionIdea />
		<SectionContact />
		<Footer />
	</main>
</Layout>


<style is:global>
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'arya';
  src: url('/fonts/Arya-Bold.woff2') format('truetype');
  font-weight: 700;
}

p {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'arya', sans-serif;
  font-weight: 700;
}

</style>
