---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SectionAbout from '../components/SectionAbout.astro';
import SectionIdea from '../components/SectionIdea.astro';
import SectionContact from '../components/SectionContact.astro';
---

<Layout title="ethib">
	<main>
		<Header />
		<SectionAbout />
		<SectionIdea />
		<SectionContact />
	</main>
</Layout>

<!-- 
<style>

</style>
 -->