---
import { Image } from 'astro:assets';
---

<footer class="bg-033436 text-white text-center pt-5 lg:pt-8 pb-8 lg:pb-10 w-full">
  <!--     <Image src="/images/asset-footer.png" alt='red arrow decoration' width="26" height="13" class="float-right" />
 -->
  <h3 class="mb-5 title">Suivez nous sur les réseaux</h3>
  <div class="flex flex-row justify-center gap-6">
    <a href="https://www.instagram.com/">
      <Image
        src="/svg/instagram-logo.svg"
        alt="icon instagram"
        width="30"
        height="30"
      />
    </a>
    <a href="https://www.facebook.com/">
      <Image
        src="/svg/facebook-logo.svg"
        alt="icon facebook"
        width="30"
        height="30"
      />
    </a>
    <a href="https://www.tik-tok.fr/">
      <Image
        src="/svg/tiktok-logo.svg"
        alt="icon tiktok"
        width="26.25"
        height="30"
      />
    </a>
    <a href="https://www.pinterest.fr/">
      <Image
        src="/svg/pinterest-logo.svg"
        alt="icon pinterest"
        width="30"
        height="30"
      />
    </a>
  </div>
</footer>

<style></style>
