---
import { Image } from "astro:assets";

---

<footer class="bg-033436 text-white text-center pt-5 pb-8 absolute w-full">
    <h3 class="mb-5">Suivez nous sur les réseaux</h3>
    <div class="flex flex-row justify-center">
        <a href="https://www.instagram.com/" class="mr-6">
            <Image src="/images/instagram.png" alt='icon instagram' width="24" height="24" />
        </a>
        <a href="https://www.facebook.com/" class="mr-6">
            <Image src="/images/facebook.png" alt='icon facebook' width="24" height="24" />
        </a>
        <a  href="https://www.tik-tok.fr/" class="mr-6">
            <Image src="/images/tiktok.png" alt='icon tiktok' width="24" height="24" />
        </a>
        <a  href="https://www.pinterest.fr/">
            <Image src="/images/pinterest.png" alt='icon pinterest' width="24" height="24" />
        </a>
    </div>
<!--     <Image src="/images/asset-footer.png" alt='red arrow decoration' width="26" height="13" class="float-right" />
 --></footer>