---
import { Image } from "astro:assets"
import StartLine from "./Header/StartLine.astro"
import ButtonArrow from "./Header/ButtonArrow.astro"
import SeeMoreArrow from "./Header/SeeMoreArrow.astro"
---

<header class="z-10 bg-09494C pt-14 text-white lg:pt-10">
  <div
    class="flex w-full flex-col items-center px-7 sm:w-auto sm:px-0 md:mx-auto md:w-10/12 lg:w-10/12 2xl:w-6/12"
  >
    <Image
      src="/svg/logo.svg"
      alt="logo"
      width="143"
      height="52"
      class="mb-20 lg:mb-4"
    />
    <div class="mb-28 text-3xl xs:mb-20 md:w-full lg:text-4xl">
      <div
        class="flex sm:mb-20 md:flex-row md:items-center md:justify-around lg:mb-0"
      >
        <div
          class="md:mb-16 md:flex md:flex-col md:items-center md:justify-between"
        >
          <h2 class="max-w-xl text-4xl leading-snug sm:text-5xl">
            La
            <span class="relative">
              différence
              <Image
                src="/svg/header-difference-showoff.svg"
                alt="#"
                width="20"
                height="20"
                class="absolute left-[148px] top-2.5 sm:left-[200px] sm:top-5"
              />
              <br class="block xs:hidden" />
            </span>
            <span class="relative">
              commence
              <StartLine />
            </span>
             avec nos <br class="block xs:hidden" />
            <span class="relative"
              >marques
              <div
                class="absolute -bottom-10 left-2/3 top-2/3 inline-flex h-10 w-[225px] rotate-[-7.482deg] items-center justify-center rounded-full bg-[#EFE6D3] xs:left-1/3 xs:top-[80%] lg:right-4 lg:-mr-10 lg:h-16 lg:w-[325px]"
              >
                <p
                  class="font-aria px-6 font-bold text-09494C sm:text-4xl lg:text-5xl"
                >
                  responsables
                </p>
              </div>
            </span>
          </h2>
        </div>
        <Image
          src="/images/ethib-shopping-app.png"
          alt="Astro"
          width="431"
          height="464"
          class="hidden w-4/12 max-w-xl lg:block"
        />
      </div>
    </div>
    <div class="relative mb-16 text-center text-[22px] font-normal lg:text-3xl">
      <SeeMoreArrow
        className="absolute -right-20 -top-10 block w-28 md:hidden"
      />
      <p>
        éthib reconnecte<br class="block md:hidden" /> les consommateurs<br
          class="hidden md:block"
        /> aux<br class="block md:hidden" /> commerçants locaux
      </p>
    </div>
    <div class="relative mb-20">
      <a
        href="#"
        class="inline-flex items-center justify-center gap-5 rounded-full bg-[#E25959] px-6 py-3 text-white hover:bg-[#C94343] hover:text-white"
      >
        Découvrir éthib
        <ButtonArrow />
      </a>
      <SeeMoreArrow className="absolute -right-48 top-0 hidden w-28 md:block" />
    </div>
  </div>
</header>
