---

import { Image } from "astro:assets";

---
<header class="bg-09494C text-white pt-14 md:pt-0 z-0 ">
    <div class="mx-3 sm:mx-0 w-330 sm:w-auto flex flex-col items-center relative">
        <div class="mb-20">
            <Image src="/images/logo.png" alt="logo" width="100" height="100" />
        </div>
        <div class="text-4xl relative mb-20">
           <!--  <Image src="/images/asset-header.png" alt="Astro" width="17" height="17" class="inline absolute top-0 left-2/3 transform -translate-x-1/2" /> -->
            <h2>La différence commence avec nos marques</h2>
            <div class="text-right ml-auto text-09494C">
                <span class="inline-flex h-[42.274px] rotate-[-7.482deg] px-2 pb-2 justify-center items-center gap-10 flex-shrink-0 rounded-[204px] bg-[#EFE6D3]">responsables</span>
            </div>
        </div>
        <div class="text-center text-2xl mb-16">
            <p>éthib reconnecte<br /> les consommateurs aux<br /> commerçants locaux</p>
        </div>
        <div class="mb-20">
            <a href="#" class="l inline-flex px-6 py-3 justify-center items-center gap-5 rounded-[20px] bg-[#E25959] text-white hover:bg-[#C94343] hover:text-white">
                Découvrir éthib
                <Image src="/images/asset-header2.png" alt="Astro" width="7.2" height="8.7" class="-ml-3" />
            </a>
        </div>
    </div>
</header>

<script>

</script>