---
import { Image } from "astro:assets";
import StartLine from "./Header/StartLine.astro";
import ButtonArrow from "./Header/ButtonArrow.astro";
import SeeMoreArrow from "./Header/SeeMoreArrow.astro";
---

<header class="bg-09494C text-white pt-14 lg:pt-10 z-10">
  <div
    class="px-7 sm:px-0 w-full md:w-10/12 lg:w-10/12 2xl:w-6/12 md:mx-auto sm:w-auto flex flex-col items-center"
  >
    <Image
      src="/svg/logo.svg"
      alt="logo"
      width="143"
      height="52"
      class="mb-20 lg:mb-4"
    />
    <div class="text-3xl lg:text-4xl mb-28 xs:mb-20 md:w-full">
      <div
        class="sm:mb-20 lg:mb-0 flex md:flex-row md:items-center md:justify-around"
      >
        <div
          class="md:mb-16 md:flex md:justify-between md:flex-col md:items-center"
        >
          <h2 class="leading-snug text-4xl sm:text-5xl max-w-xl">
            La
            <span class="relative">
              différence
              <Image
                src="/svg/header-difference-showoff.svg"
                alt="#"
                width="20"
                height="20"
                class="absolute top-2.5 sm:top-5 left-[148px] sm:left-[200px]"
              />
              <br class="block xs:hidden" />
            </span>
            <span class="relative">
              commence
              <StartLine />
            </span>
             avec nos <br class="block xs:hidden" />
            <span class="relative"
              >marques
              <div
                class="absolute left-2/3 xs:left-1/3 top-2/3 xs:top-[80%] -bottom-10 lg:right-4 inline-flex rotate-[-7.482deg] h-10 lg:h-16 w-[225px] lg:w-[325px] justify-center items-center rounded-full bg-[#EFE6D3] lg:-mr-10"
              >
                <p
                  class="font-bold font-aria sm:text-4xl lg:text-5xl text-09494C px-6"
                >
                  responsables
                </p>
              </div>
            </span>
          </h2>
        </div>
        <Image
          src="/images/ethib-shopping-app.png"
          alt="Astro"
          width="431"
          height="464"
          class="hidden lg:block w-4/12 max-w-xl"
        />
      </div>
    </div>
    <div class="text-center text-[22px] lg:text-3xl mb-16 font-normal relative">
      <SeeMoreArrow className="block md:hidden absolute -right-20 -top-10 w-28" />
      <p>
        éthib reconnecte<br class="block md:hidden" /> les consommateurs<br
          class="hidden md:block"
        /> aux<br class="block md:hidden" /> commerçants locaux
      </p>
    </div>
    <div class="mb-20 relative">
      <a
        href="#"
        class="inline-flex px-6 py-3 justify-center items-center gap-5 rounded-full bg-[#E25959] text-white hover:bg-[#C94343] hover:text-white"
      >
        Découvrir éthib
        <ButtonArrow />
      </a>
      <SeeMoreArrow className="hidden md:block absolute -right-48 top-0 w-28" />
    </div>
  </div>
</header>
