---
import { Image } from "astro:assets";
---

<section class="bg-09494C pb-7">
    <div class=" mx-3 sm:mx-0 w-330 sm:w-auto flex flex-col text-center items-center">
    <div class="pt-4 mb-8 flex flex-col items-center">
        <Image src="/images/asset-contact.png" alt='icon' width="26" height="29" />
    <h2 class="text-2xl text-white">Restez informé<br /> de l’avancé d’éthib</h2>
    </div>
    <iframe width="540" height="305" src="https://50611a41.sibforms.com/serve/MUIFABJHzUQxdF0-FrTHcCmoifpohbZ34QkDU_YXfJrxe7tQ88Pj_-C94pUJwNY3KiEVCQczbsz8N61ovCjJFPHC2r4cwVf9FezJ36lXsLNETqdxAml1wCfff-t94aHd0e4eHrWIiC918HMJCzCQmwYnFdRu14Dtj12hz59nVPf_wicsVyJfzRhqiI4tqrPEfxcpN5EsMRxbNKmv" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>    </div>
</section>