---

import { Image } from "astro:assets";

import TitleSection from "./TitleSection.astro";

---
<section class="rounded-t-3xl -mt-5 lg:mt-0 lg:rounded-none pt-8 pb-14 z-20 bg-white">
   <div class=" mx-7 sm:mx-0 lg:mx-80 lg:text-center sm:w-auto flex flex-col items-center">
    <TitleSection title="Le point de départ" url="/images/asset-section.png" />
    <div class="lg:flex lg:flex-row lg:w-full">
    <div class="flex lg:flex-col-reverse justify-between lg:items-start mb-7 lg:mb-24 w-full sm:justify-between">
        <div>
            <h3 class="mb-1.5 text-09494C text-lg lg:text-2xl">Une industrie polluante</h3>
            <p class="text-sm lg:text-lg font-normal leading-tight">L’industrie du textile est la <br class="block sm:hidden" /><span class="font-semibold">seconde<br class="hidden md:block" /> industrie</span> la plus<br class="block sm:hidden" /> polluante au monde.</p>
        </div>
        <Image src="/images/asset-section2.png" alt="Asset section" class="lg:ml-28 lg:mb-9" height="91" width="90" />
    </div>
    <div class="flex lg:flex-col lg:items-end mb-14 w-full justify-between">
        <Image src="/images/asset-section3.png" alt="Asset section" class="lg:mr-24" height="91" width="90" />
        <div class="ml-4">
            <h3 class="mb-1.5 text-09494C text-lg lg:text-2xl">Boutiques engagées mais<br /> invisibles</h3>
            <p class="text-sm lg:text-lg font-normal leading-tight">Les boutiques <span class="font-semibold">responsables</span> et<br /> <span class="font-semibold">éthiques</span> manquent de visibilité.</p>
        </div>
    </div>
    </div>
    <div class="">
        <a href="#" class="l inline-flex px-6 py-3 justify-center items-center gap-5 rounded-[20px] bg-[#E25959] text-white hover:bg-[#C94343] hover:text-white">
            Suivre notre projet
        </a>
    </div>
</div>
</section>

<script>

</script>