---
import { Image } from "astro:assets"
---

<section class="bg-09494C pb-7 pt-4 lg:pb-16 lg:pt-16">
  <div class="mx-7 flex flex-col items-center text-center sm:mx-0 sm:w-auto">
    <div class="mb-8 flex flex-col items-center">
      <Image
        src="/images/asset-contact.png"
        alt="icon"
        width="26"
        height="29"
        loading="lazy"
      />
      <h2 class="text-2xl text-white lg:text-3xl">
        Restez informé<br class="block sm:hidden" /> de l’avancé d’éthib
      </h2>
    </div>
    <iframe
      width="678"
      height="450"
      src="https://50611a41.sibforms.com/serve/MUIFAOlJsJwXR-AiBbDoR_FHH7dOUBSLd0eLREOj3jqCMkKvykJxrNbGvEzIPktrzM8ONMSU0M_jdtcjBUAdpnSUUBbARoo7c4jDzU0J1lOuKIh3TtN3lMMHi894tdR4I4dnH5AqdB4xxZnqFDP63umaVaClr_Z5H5DWDxcwRRv0BunidMHSDtahV5EgMRCkadOgw_1ak3pVxJaB"
      frameborder="0"
      scrolling="auto"
      allowfullscreen
      style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"
    ></iframe>
  </div>
</section>
