---
import TitleSection from "./TitleSection.astro";

---



<section class="bg-EFE6D3 pt-8 pb-16">
    <div class="mx-7 sm:mx-0 lg:mx-40 sm:w-auto">
        <TitleSection title="Notre idée" url="/images/asset-section4.png" />
        <div class="flex flex-col justify-evenly">
            <div class="text-center mb-5 flex flex-col items-start">
                <h3 class="text-09494C text-lg">Offrir de la visibilité</h3>
                <p class="text-sm font-normal leading-tight">aux boutiques éthiques<br /> et locales</p>
            </div>
            <div class="text-center mb-5 flex flex-col items-end">
                <h3 class="text-09494C text-lg">Être présent en ligne</h3>
                <p class="text-sm font-normal leading-tight">sur notre plateforme de<br /> produits éthiques</p>
            </div>
            <div class="text-center flex flex-col items-start ml-8">
                <h3 class="text-09494C text-lg">Augmenter ses<br /> ventes</h3>
                <p class="text-sm font-normal leading-tight">de vente de produits<br /> éthiques</p>
            </div>
        </div>
    <div/>
</div>
</section>