---
import { Image } from "astro:assets"

import TitleSection from "./TitleSection.astro"
---

<section
  class="z-20 -mt-5 rounded-t-3xl bg-white pb-14 pt-8 md:mt-0 md:rounded-none md:pb-24 md:pt-16"
>
  <div
    id="about"
    class="mx-7 flex flex-col items-center sm:mx-0 sm:w-auto md:mx-auto md:max-w-2xl md:text-center lg:max-w-4xl"
  >
    <TitleSection title="Le point de départ" url="/images/asset-section.png" />
    <div
      class="flex w-full flex-col gap-8 xs:w-4/5 md:w-full md:flex-row md:gap-10"
    >
      <div
        class="flex w-full flex-row items-center gap-6 md:h-full md:flex-col-reverse md:gap-12"
      >
        <div class="flex w-full flex-col">
          <h3 class="mb-1.5 text-lg text-09494C md:text-2xl">
            Une industrie polluante
          </h3>
          <p class="text-sm font-normal leading-tight md:text-lg">
            L'industrie du textile est la <span class="font-semibold"
              >seconde industrie</span
            > la plus polluante au monde.
          </p>
        </div>
        <Image
          src="/svg/planet-about-section.svg"
          alt="Asset section"
          height="151"
          width="151"
          class="h-24 w-24 md:h-[151px] md:w-[151px]"
          loading="lazy"
        />
      </div>
      <div
        class="flex w-full flex-row items-center gap-6 md:flex-col md:gap-12"
      >
        <Image
          src="/svg/shop-about-section.svg"
          alt="Asset section"
          height="151"
          width="151"
          class="h-20 w-20 md:h-[151px] md:w-[151px]"
          loading="lazy"
        />
        <div class="w-full">
          <h3 class="mb-1.5 text-lg text-09494C md:text-2xl">
            Boutiques engagées mais invisibles
          </h3>
          <p class="text-sm font-normal leading-tight md:text-lg">
            Les boutiques <span class="font-semibold">responsables</span> et
            <span class="font-semibold">éthiques</span> manquent de visibilité.
          </p>
        </div>
      </div>
    </div>
    <div class="mt-8 md:hidden">
      <a
        href="#form"
        class="inline-flex items-center justify-center gap-5 rounded-full bg-[#E25959] px-6 py-3 text-white hover:bg-[#C94343] hover:text-white"
      >
        Suivre notre projet
      </a>
    </div>
  </div>
</section>

<script></script>
