---
import TitleSection from "./TitleSection.astro"
import { Image } from "astro:assets"
---

<section class="bg-EFE6D3 pb-16 pt-8 md:pb-24 md:pt-16">
  <div class="mx-7 sm:mx-auto sm:w-auto sm:max-w-4xl md:max-w-6xl">
    <TitleSection title="Notre idée" url="/images/asset-section4.png" />
    <div class="flex w-full justify-center md:justify-evenly lg:justify-around">
      <div class="flex flex-col md:w-6/12 lg:-translate-x-8">
        <div class="mb-5 flex flex-row">
          <div class="flex w-1/2 flex-col items-start text-center">
            <h3 class="mx-auto text-lg text-09494C md:text-2xl">
              Offrir de la visibilité
            </h3>
            <p class="text-sm font-normal leading-tight md:text-lg">
              aux boutiques éthiques et locales
            </p>
          </div>
          <div class="flex w-1/2 justify-start">
            <Image
              src="/svg/arrow-1-idea-section.svg"
              alt="Flèche vers l'idée suivante"
              width="84"
              height="31"
              class="translate-x-2 translate-y-4 transform"
              loading="lazy"
            />
          </div>
        </div>
        <div class="mb-8 flex flex-row">
          <div class="flex w-1/2 justify-end">
            <Image
              src="/svg/arrow-2-idea-section.svg"
              alt="Flèche vers l'idée suivante"
              width="50"
              height="20"
              class="-translate-x-4 translate-y-8 transform"
              loading="lazy"
            />
          </div>
          <div class="flex w-1/2 flex-col items-end text-center">
            <h3 class="mx-auto text-lg text-09494C md:text-2xl">
              Être présent en ligne
            </h3>
            <p class="text-sm font-normal leading-tight md:text-lg">
              sur notre plateforme de produits éthiques
            </p>
          </div>
        </div>
        <div class="flex w-8/12 flex-col items-center text-center">
          <h3 class="text-lg leading-6 text-09494C md:text-2xl">
            Augmenter ses<br class="block md:hidden" /> ventes
          </h3>
          <p class="w-10/12 text-sm font-normal leading-tight md:text-lg">
            de vente de produits éthiques
          </p>
        </div>
      </div>
      <div>
        <Image
          src="/images/asset-section5.png"
          alt="Astro"
          width="224"
          height="351"
          class="hidden md:inline-block"
          loading="lazy"
        />
      </div>
    </div>
    <div></div>
  </div>
</section>
